  /*========= common css ============*/
:root {
  --green-color: #0BDA51;
  --red-color:  #ef1630;
  --light-color: #fff;
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
@font-face {
  font-family: 'Kalpurush';
  font-family: 'SolaimanLipi';
  src: url('fonts/Kalpurush.ttf') format('ttf');
  src: url('fonts/SolaimanLipi.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'SolaimanLipi', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  color: #363636;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Kalpurush', sans-serif !important;
  font-weight: 600!important;
  color: #777;
}
.container {
  max-width: 1140px !important;
  width: 100% !important;
}
a {
  text-decoration: none;
}
.button {
  padding: 8px 28px;
  border-radius: 50rem;
  background: var(--green-color);
  color: var(--light-color);
  font-weight: 600;
  letter-spacing: 2px;
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}
.button:hover {
  background: var(--light-color);
  color: var(--green-color);
}

  /*========= navbar css ============*/
nav {
  padding: 10px;
  background: var(--green-color);
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
}
#navbar .header_dropdown a i {
  color: #fff;
}
nav .logo_img {
  max-width: 50px;
  max-width: 50px;
  border-radius: 50%;
}
nav .heading span {
  font-size: 28px;
  font-weight: 600;
  color: var(--light-color);
}
.dropdown-menu li a:active {
  background: var(--green-color);
}
.header_dropdown a i {
  font-size: 22px;
}
.mobile_title span {
  font-size: 22px;
  background: var(--light-color);
  color: var(--green-color);
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 10px 0;
  display: none;
}

  /*========= slider area css ============*/
#background {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 330px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 2;
}
#background::after {
  content: '';
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 25%, rgba(0,0,0,0) 73%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#background h1 {
  color: var(--light-color);
  font-size: 45px;
  margin-bottom: 20px;
}
.bg_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s ease all;
}
.helpline a.button {
  display: inline-block;
  align-items: center;
  font-size: 25px;
  background: var(--red-color);
  padding: 8px 20px ;
}
.helpline a.button::before {
  content: '\f879';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--light-color);
  margin-right: 10px;
}
.helpline a.button:hover {
  color: var(--light-color);
  background: #ff0000;
}
.helpline a.button:hover::before {
  color: var(--light-color);
}
.helpline.sticky {
  position: fixed!important;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

  /*========= hero area css ============*/
#hero_area {
  position: relative;
  z-index: 2;
  margin-bottom: 60px;
}
.hero_inner {
  margin-top: -60px;
}
#hero_1 , #hero_2 {
  padding: 10px;
  background: var(--light-color);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.9);
}
#hero_1 img , #hero_2 img {
  border: 1px solid #ddd;
}

/*===================== 
    Main Area 
=======================*/

  /*========= slider area css ============*/
#slider_area {
  width: 100%;
  padding: 20px 0;
  background: #f6f6f6;
  margin-bottom: 80px;
}
#monitor_container {
  max-width: 900px;
  margin: auto;
}
#monitor {
  background: #080808; 
  position: relative;
  border-top: 3px solid #888;
  margin: 3%;
  padding: 2% 2% 4% 2%; 
  border-radius: 10px; 
  border-bottom-left-radius: 50% 2%; 
  border-bottom-right-radius: 50% 2%; 
  transition: margin-right 1s;
}
#monitor::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 3%;
  left: 36%;
  height: .5%; 
  width: 28%;
  background: #ddd; 
  border-radius: 50%;
  box-shadow: 0 0 3px 0 white;
}
#monitorscreen {
  width: 100%;
  height: 450px;
  position: relative;
  background-color: #cfcfcf;
  background-size: cover; 
  background-position: top center;
  overflow: hidden;
}
.slide {
  height: 450px;
}
.slide .slide_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: rgba(25, 25, 45, 0.9);
  border-top: 1px solid #fff;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slide .slide_caption span {
  font-size: 20px;
  color: var(--light-color);
}
#monitorscreen .owl-prev, #monitorscreen .owl-next {
  height: 40px;
  width: 40px;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: var(--light-color);
  color: #363636;
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
     -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
       -o-transition: 0.5s ease;
          transition: 0.5s ease;
}
#monitorscreen .owl-prev i, #monitorscreen .owl-next i {
  line-height: 40px;
  font-size: 20px;
}
#monitorscreen .owl-prev {
  left: -50px;
}
#monitorscreen .owl-next {
  right: -50px;
}
#monitorscreen:hover .owl-prev {
  left: 10px;
}
#monitorscreen:hover .owl-next {
  right: 10px;
}

  /*========= quotation area css ============*/
#quotation {
  margin-bottom: 60px;
}
.quotation_area {
  display: flex;
  flex-direction: column;
}
.quote_heading {
  margin-bottom: 30px;
}
.quote p {
  font-size: 18px;
  line-height: 1.7;
}
.quotation_area .quote_img {
  margin-bottom: 10px;
}
.quotation_area .quote_person {
  display: block;
}
.quote_img img {
  margin-bottom: 10px;
}
.quote_person {
  font-size: 20px;
}
.quote span {
  font-size: 20px;
  font-weight: 600;
}

/*===================== 
    Responsive CSS
=======================*/



@media (max-width: 768px) {
  
  nav .heading {
    display: none
  }
  .mobile_title span {
    display: block;
  }
  .helpline a.button {
    font-size: 20px;
    padding: 6px 16px;
  }
  #monitorscreen {
    height: 380px;
  }
  .slide {
    height: 380px;
  }
  #slider_area {
    margin-bottom: 40px;
  }
  #monitorscreen .owl-prev, #monitorscreen .owl-next {
    height: 35px;
    width: 35px;
  }
  #monitorscreen .owl-prev i, #monitorscreen .owl-next i {
    line-height: 35px;
  }

}

@media (max-width: 600px) {
  #monitorscreen {
    height: 300px;
  }
  .slide {
    height: 300px;
  }
  .slide .slide_caption span {
    font-size: 15px;
  }
  .slide .slide_caption {
    box-shadow: 2px 0 8px 2px rgba(255, 255, 255, 0.6);
    padding: 5px;
  }
  
}

@media (max-width: 500px) {

  body {
    font-size: 14px;
  }
  .helpline a.button {
    font-size: 17px;
  }
  #background h1 {
    font-size: 38px;
  }
  .slide .slide_text p {
    font-size: 16px;
  }
  #monitorscreen {
    height: 200px;
  }
  #monitorscreen .owl-prev, #monitorscreen .owl-next {
    height: 22px;
    width: 22px;
  }
  #monitorscreen .owl-prev i, #monitorscreen .owl-next i {
    line-height: 22px;
  }
  #monitorscreen .owl-prev i, #monitorscreen .owl-next i {
    font-size: 16px;
  }
  .slide {
    height: 200px;
  }
  .slide .slide_caption span {
    font-size: 14px;
  }
  .quote span {
    font-size: 17px;
  }
  .quote p {
    font-size: 14px;
    line-height: 1.7;
  }

}

@media (max-width: 350px) {
  #monitorscreen {
    height: 140px;
  }
  .slide {
    height: 140px;
  }
}

@media (max-width: 320px) {

  #background h1 {
    font-size: 30px;
  }

}


